*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* header */
header{
    background-color:#ff6900;
    
}
.bar-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

}
.bar-nav nav ul li a{
    text-decoration: none;
    padding: 0 5px;
    color: white;
}
.bar-nav nav ul li {
    display: inline-block;
    
}
.bar-nav img{
    height: 30px;
}

/* main */
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-1-3{
    width: calc(100% / 3);
}


/* footer */



/* debug */