*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}

/* header */
header{
    background-color:#ff6900;
    margin-bottom: 50px;
    
}
.bar-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

}
.bar-nav nav ul li a{
    text-decoration: none;
    padding: 0 5px;
    color: white;
}
.bar-nav nav ul li {
    display: inline-block;
    
}
.bar-nav img{
    height: 30px;
}

/* main */
main{
    /* padding: 50px 0; */
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
}
.col-1-3{
    width: calc((100% / 3) - 10px);
    margin: 0 5px;
    height: 200px;
    margin-bottom: 20px;
}
.sconto{
    color: red;
    font-weight: bold;
}
.prezzo-barrato{
    text-decoration: line-through;
    font-weight: bold;
}
main .row .prodotto .up img{
    width: 100%;
}
main .row .prodotto .up{
    position: relative;
}
main .row .prodotto .up .wishlist{
    position: absolute;
    top: 20px;
    right:0;
    padding: 15px;
    background-color: white;
}
main .row .prodotto .up .discount{
    position: absolute;
    background-color: red;
    font-weight: bold;
    left: 0;
    bottom: 50px;
    padding: 5px;
    color: white;

}
main .row .prodotto .up .eco{
    position: absolute;
    background-color: green;
    font-weight: bold;
    bottom: 50px;
    left: 50px;
    padding: 5px;
    color: white;

}
    

/* footer */



/* debug */